* {
    margin: 0;
    padding: 0;
}

#container {
    width: 1200px;
    margin: 0 auto;
}

#header {
    width: 100%;
    height: 120px;
    background-color: cadetblue;
}

#header h1 {
    float: left;
}

#gnb {
    float: right;
    margin-right: 10px;
}

#gnb ul {
    list-style: none;
}

#gnb ul li {
    float: left;
    margin-top: 15px;
}

#gnb ul li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    background-image: url(../images/bar.jpg);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    /* 맨 오른쪽, 상하 중 가운데에 위치 */
}

#gnb ul li:nth-child(3) a {
    background: none;
    /* 세 번째 li의 a의 배경 없애기 */
}

#content {
    width: 100%;
    height: 600px;
}

#lnb {
    width: 300px;
    height: 600px;
    background-color: darkcyan;
    float: left;
}

#lnb ul {
    text-align: center;
    width: 200px;
    list-style: none;
    border: 1px double black;
    margin: 50px auto 0 auto;
    padding: 10px 0;
}

#lnb ul li a {
    display: block;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

#lnb ul li a:hover{
    background-color: #fff;
    color: black;
}


#section {
    width: 600px;
    height: 600px;
    background-color: cornflowerblue;
    float: left;
}

#section h2{
    text-align: center;
    padding: 10px 0;
}

#section article{
    width: 250px;
    height: 230px;
    float: left;
    border: 1px solid black;
    margin: 0px 0 10px 18px;
    background-color: #fff;
    padding: 10px;
    text-align: justify;
}

#sidebar {
    width: 300px;
    height: 600px;
    background-color: royalblue;
    float: left;
    text-align: center;
}

#sidebar h2{
    padding: 10px 0;
}

#sidebar img{
    margin-bottom: 15px;
}

#footer {
    /* clear: both; */
    /* footer를 내려오게 함. 별로 좋은 방법은 아님.
    p.239  */
    width: 100%;
    height: 100px;
    background-color: darkblue;
}

