* {
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

ul,
li {
    list-style: none;
}

header {
    width: 100%;
    height: 165px;
    border-top: 5px solid green;
    /* background-color: pink; */
    /* margin: 0 auto; */
}

.header_line {
    width: 100%;
    height: 100px;
    position: relative;
    /* background-color: yellow; */
}

.header_line .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.joinBtn {
    position: absolute;
    width: 210px;
    height: 30px;
    top: 50%;
    transform: translate(0, -50%);
    left: 72%;
}

.header_line p {
    width: 70px;
    height: 30px;
    position: absolute;
    line-height: 30px;
    float: left;
}

.header_line p.login {
    left: 0px;
}

.header_line p.jum {
    top: -3px;
    left: 60px;
    color: #999;
    font-size: 30px;
}

.header_line p.join {
    left: 80px;
}

.header_line p.global {
    left: 150px;
    background: url(../images/icon_utill_global.png) no-repeat 20% 50%;
}

/* 메뉴 */
.gnb {
    position: relative;
    height: 65px;
}

.gnb>ul {
    width: 1170px;
    height: 65px;
    text-align: center;
    line-height: 65px;
    /* background-color: gainsboro; */
    margin: 0 auto;
}

.gnb>ul>li {
    width: 195px;
    float: left;
}

.gnb>ul>li>a {
    font-weight: bold;
}

.gnb>ul>li:hover>a {
    color: green;
}

.gnb>ul>li>ul {
    position: absolute;
    width: 195px;
    height: 0px;
    padding-top: 15px;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s;
    z-index: 10001;
    /* background-color: #ffce32; */
}

.gnb>ul:hover>li>ul {
    height: 250px;
    opacity: 1;
}

.gnb>ul>li>ul>li {
    height: 30px;
    line-height: 30px;
    padding: 4px 0;
    /* background-color: gold; */
}

.gnb>ul>li>ul>li>a {
    display: inline-block;
}

.gnb>ul>li>ul>li:hover>a {
    color: yellowgreen;
    text-decoration: underline;
}

.shadow {
    position: absolute;
    width: 100%;
    height: 0px;
    z-index: 10000;
    background-color: #fff;
    border-top: 1px solid #ccc;
    overflow: hidden;
    transition: all 0.3s;
}

.gnb>ul:hover+.shadow {
    height: 260px;
    border-top: 1px solid #ccc;
}

/* 슬라이드1 */
#s1 .wrap1 {
    width: 1920px;
    height: 490px;
    margin: 0 auto;
}

#s1 .slide1 li a {
    display: block;
    width: 1920px;
    height: 440px;
}

#s1 .wrap1 {
    position: relative;
}

#s1 .btn1,
.btn2 {
    position: absolute;
    width: 300px;
    height: 80px;
    background: #ffce32 url(../images/icon_map.png) no-repeat 30% 50%;
    border-radius: 40px 0 0px 0;
    bottom: 0px;
    left: 50%;
}

#s1 .btn2 {
    background: #009223 url(../images/icon_franchise.png) no-repeat 22% 50%;
    left: 1260px;
    border-radius: 0px 0px 40px 0px;
}

#s1 .btn1 a {
    display: block;
    width: 300px;
    height: 80px;
    line-height: 80px;
    font-weight: bold;
    color: #fff;
    font-size: 22px;
    padding-left: 130px;
}

#s1 .btn2 a {
    display: block;
    width: 300px;
    height: 80px;
    line-height: 80px;
    font-weight: bold;
    color: #fff;
    font-size: 22px;
    padding-left: 105px;
}

/* subway's menu */
#subMenu {
    width: 100%;
}

.wrap2 {
    width: 100%;
    height: 500px;
    padding: 60px 0;
    margin: 0 auto;
}

.wrap2 .upmenu h2 {
    text-indent: 20px;
    width: 330px;
    height: 60px;
    font-size: 40px;
    background: url(../images/bul_tit.png) no-repeat 0px 0;
}

.wrap2 .upmenu {
    width: 1170px;
    height: 60px;
    margin: 0 auto;
    /* background-color: yellow; */
    position: relative;
}

.wrap2 .upmenu .menu2 {
    position: absolute;
    right: 60px;
    top: 40%;
}

.menu2>li {
    float: left;
    padding: 0 20px;
    border-right: 1px solid #ccc;
}

.menu2 li:last-child {
    border: none;
}

.menu2>li>a {
    display: block;
    color: #666;
    font-weight: bold;
}

/* 메뉴 이미지 */
.menu_img {
    position: relative;
    width: 100%;
    height: 320px;
    text-align: center;
}

.menu_img #classic,
#fresh,
#pre,
#morning {
    position: absolute;
    width: 1070px;
    height: 320px;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
}

.menu_img #classic,
#fresh,
#pre,
#morning {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
}

.menu_img ul li {
    height: 320px;
    width: 260px;
    /* padding: 0px 5px; */
    margin: 0px 20px;
}

.menu_img #classic.on,
#fresh.on,
#pre.on,
#morning.on {
    visibility: visible;
    opacity: 1;
}
.menu_img ul li strong{
    font-size: 18px;
}

/* 하단 슬라이드 등 */
section#bottomMenu {
    width: 100%;
    height: 790px;
    background: url(../images/bg_content.gif);
}

#bottomMenu .wrap3 {
    width: 1280px;
    height: 630px;
    padding: 80px 0;
    /* background-color: pink; */
    margin: 0 auto;
}

.wrap3 .up {
    width: 1225px;
    height: 300px;
    margin-left: 55px;
    /* background-color: yellowgreen; */
}

.wrap3 .up .up1 {
    position: relative;
    float: left;
    width: 400px;
    height: 300px;
    background: url(../images/bg_utilization.png) no-repeat 50% 50%;
}

.wrap3 .up .up2 {
    position: relative;
    float: left;
    width: 825px;
    height: 300px;
    background: url(../images/name.png) no-repeat 50% 50%;
}

.up p {
    position: absolute;
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    top: 40px;
    letter-spacing: -3px;
}

.up .up1 p {
    left: 40px;
}

.up .up2 p {
    left: 410px;
}

.up a {
    position: absolute;
    display: block;
    width: 92px;
    height: 32px;
    border-radius: 32px;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    line-height: 32px;
    bottom: 40px;
}

.up .up1 a {
    width: 92px;
    left: 40px;
}

.up .up2 a {
    width: 128px;
    left: 410px;
}


.wrap3 .down {
    position: relative;
    width: 1225px;
    height: 300px;
    margin: 30px 0 0 55px;
    /* background-color: yellow; */
}

.down .down1 {
    position: absolute;
    width: 870px;
    height: 300px;
    background-color: #fff;
    border-radius: 30px 0 30px 0;
}

.down .down1 h2 {
    position: absolute;
    font-size: 30px;
    top: 80px;
    left: 60px;
    height: 52px;
    padding: 17px 0 0 25px;
    text-align: center;
    background: url(../images/bul_tit.png) no-repeat 0px 0px;
    color: #292929;
}

.down .down1 p {
    position: absolute;
    top: 160px;
    left: 75px;
    text-align: center;
    color: #666;
    letter-spacing: -2px;
}

.down .down1 ul {
    position: absolute;
    top: 50px;
    left: 400px;
}

.down .down1 ul li {
    width: 330px;
    margin-top: 20px;
}

.down .down1 ul li a {
    display: inline-block;
    letter-spacing: -2px;
    position: relative;
}

.down .down1 ul li a:hover {
    color: #009223;
}
.down .down1 ul li a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    background-color: #009223;
    left: 0;
    bottom: 0;
    transition: all 0.3s;
}
.down .down1 ul li a:hover::after{
    width: 100%;
}

.down>.down1>a {
    position: absolute;
    top: 210px;
    left: 400px;
    color: #999;
    font-size: 14px;
}

.down .down2 {
    position: absolute;
    right: 55px;
    width: 270px;
    height: 300px;
    /* background-color: blue; */
}

.down .down2 ul li a img {
    border-radius: 0px 30px 0px 30px;
}


/* 퀵메뉴 */
#quickMenu {
    width: 100%;
    height: 70px;
    padding: 40px 0 37px 0;
    /* background-color: orange; */
}

#quickMenu>ul {
    width: 1100px;
    height: 70px;
    margin: 0 auto;
}

#quickMenu ul li {
    /* margin-left: 10px; */
    height: 70px;
    width: 270px;
    float: left;
}

ul li .icon {
    width: 70px;
    height: 70px;
    float: left;
}

ul li .icon1 {
    background: url(../images/icon_quickmenu.png) no-repeat 0 0;
}

ul li .icon2 {
    background: url(../images/icon_quickmenu.png) no-repeat -70px 0;
}

ul li .icon3 {
    background: url(../images/icon_quickmenu.png) no-repeat -140px 0;
}

ul li .icon4 {
    background: url(../images/icon_quickmenu.png) no-repeat -210px 0;
}

#quickMenu ul li .letter {
    margin-top: 12px;
    /* background-color: #009223; */
    float: left;
}
#quickMenu ul li .letter strong, 
#quickMenu ul li .letter span{
    margin-left: 15px;
}

/* footer */
footer{
    width: 100%;
    background-color: #292929;
    position: relative;
}
.content{
    width: 1170px;
    height: 107px;
    padding: 22px 0;
    margin: 0 auto;
}
.content ul{
    margin-bottom: 22px;
}
.content ul li{
    float: left;
    padding: 0px 15px 22px 15px;
}
.content ul li:nth-child(1){
    padding-left: 0;
}
.content ul li a{
    color: #666;
    font-size: 14px;
    letter-spacing: -2px;
}
.content ul li:nth-child(2) a{
    color: #bbb;
}

.content p{
    clear: both;
    color: #666;
    font-size: 13px;
    height: 27px;
    line-height: 50px;
}
.content p:nth-child(1){
    height: 13px;
    letter-spacing: -1px;
}
.content p span{
    padding: 0 10px 0 0;
    border-right: 1px solid #666;
}
.content p span:nth-child(4){
    border: none;
}


.line{
    width: 100%;
    height: 1px;
    background-color: #3b3b3b;
    position: absolute;
    top: 63px;
}

/* 팝업 */
.popup{
    position: fixed;
    top: 50px;
    left: 100px;
    width: 500px;
    height: 538px;
    background-color: #ffc20d;
    font-size: 13px;
    z-index: 100000;
    /* display: none; */
}
.popup img{
    margin: 10px 10px 0 10px;
}
.popup .closewrap {
    position: absolute;
    left: 15px;
    /* background-color: pink; */
}
.popup .closewrap label{
    cursor: pointer;
}

.popup .closebtn{
    position: absolute;
    right: 20px;
    bottom: 10px;
    cursor: pointer;
}