*{margin:0;padding:0}
.wrap{
    width: 800px;
    margin: 0 auto;
}
header{
    width: 800px;
    height: 300px;
    background-image: url(../img2/top2.jpg);
}
header h1{
    color: #fff;
    float: right;
    margin: 180px 40px 0 0;
}
nav{
    width: 800px;
    height: 70px;
    background-color:#2c1a0b;
}
nav ul{
    list-style: none;
}
nav ul li a{
    display: block;
    text-decoration: none;
    color: #fff;
    float: left;
    width: 140px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 10px 10px;
}
nav ul li a:hover{
    background-color: #fff;
    color: #2c1a0b;
    border-radius: 35px;
}
section{
    float: left;
    width: 600px;
    height: 470px;
    background-color: #eee;
}

section h3{
    text-align: center;
    margin: 7px 0;
}

section article{
    float: left;
    padding: 10px;
    margin: 5px 0px 10px 17px;
    background-color: #fff;
    width: 250px;
    height: 170px;
    border: 1px solid black;
}
article p{
    text-align: justify;
    line-height: 1.5; /* 행간 */
    /* text-indent : 들여쓰기 */
    /* letter-spacing : 자간 */
}
article h4{
    padding: 0 0 7px 25px;
    background: url(../img2/kong.png) no-repeat;
}

aside{
    float: left;
    width: 200px;
    height: 470px;
    background-color: #584f3f;
    text-align: center;
}
aside h3{
    padding: 10px;
}
aside img{
    margin-bottom: 10px;
}
footer{
    float: left;
    width: 800px;
    height: 50px;
    background-color: #333;
    color: #eee;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
}

