* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}


.logo {
    position: relative;
    width: 100%;
    height: 120px;
}

.logo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}


header {
    position: relative;
    width: 100%;
    height: 700px;
    /* border: 1px solid red; */
}
header nav .line{
    position: absolute;
    height: 50px;
    width: 100%;
    top: 0;
    border-bottom: 1px solid #999;
    background: #fff url(../images/header_line.png) no-repeat;
}

header nav .shadow{
    position: absolute;
    height: 50px;
    width: 100%;
    top: 0;
}

header nav .gnb:hover+.shadow{
    bottom: 0;
    background: url(../images/header_line.png) no-repeat 0 100%;
}

.gnb {
    position: absolute;
    width: 1000px;
    height: 50px;
    text-align: center;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 10;
}

.gnb>li {
    float: left;
    margin: 0 auto;
}

.gnb>li>a {
    display: block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.gnb>li>ul {
    height: 0px;
    overflow: hidden;
    transition: all 0.3s;
}

.gnb:hover>li>ul {
    height: 400px;
}

/* .shadow{
    position: absolute;
    height: 50px;
    border: 1px solid blue;
    top: 0px;
} */
/* 마우스 올렸을 때 밑에 메뉴 색깔 바뀌기 */

.gnb li ul li {
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    /* border: 1px solid red; */
    box-sizing: border-box;
}

.gnb li ul li a {
    display: inline-block;
    padding: 0 5px;
    /* border: 1px solid black; */
    box-sizing: border-box;
}

.gnb li ul li:hover a {
    background: url(../images/menu_img.png) no-repeat;
}

.back_white {
    display: block;
    position: absolute;
    width: 100%;
    height: 0px;
    top: 0;
    left: 0;
    /* border: 1px solid black; */
    background-color: #fff;
    z-index: -3;
    transition: all 0.3s;
}

nav .gnb:hover + .back_white {
    height: 400px;
}

/* .gnb:hover+.shadow{
    background: url(../images/header_line.png) no-repeat;
} */

.back {
    position: absolute;
    z-index: -5;
}